# Book Data Audit

This notebook audits for significant changes in cluster gender annotations, to allow us to detect the significance of shifts over time.  It depends on the aligned cluster identities in `isbn-version-clusters.parquet`.

In [1]:
from pathlib import Path
from functools import reduce

In [2]:
import pandas as pd
import polars as pl
import numpy as np
import matplotlib.pyplot as plt

## Load Data

Define the versions we care about:

In [3]:
versions = ['pgsql', '2022-03-2.0', '2022-07', '2022-10', '2022-11-2.1', 'current']

Load the aligned ISBNs:

In [4]:
isbn_clusters = pd.read_parquet('isbn-version-clusters.parquet')
isbn_clusters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33538726 entries, 0 to 33538725
Data columns (total 8 columns):
 #   Column       Dtype
---  ------       -----
 0   isbn         object
 1   isbn_id      int32
 2   current      float64
 3   2022-11-2.1  float64
 4   2022-10      float64
 5   2022-07      float64
 6   2022-03-2.0  float64
 7   pgsql        float64
dtypes: float64(6), int32(1), object(1)
memory usage: 1.9+ GB

## Different Genders

How many clusters changed gender?

To get started, we need a list of genders in order.

In [5]:
genders = [
    'ambiguous', 'female', 'male', 'unknown',
    'no-author-rec', 'no-book-author', 'no-book', 'absent'
]

Let's make a function to read gender info:

In [6]:
def read_gender(path, map_file=None):
    cg = pl.scan_parquet(path)
    cg = cg.select([
        pl.col('cluster').cast(pl.Int32),
        pl.when(pl.col('gender') == 'no-loc-author')
            .then('no-book-author')
            .when(pl.col('gender') == 'no-viaf-author')
            .then('no-author-rec')
            .otherwise(pl.col('gender'))
            .cast(pl.Categorical)
            .alias('gender')
    ])
    if map_file is not None:
        map = pl.scan_parquet(map_file)
        cg = cg.join(map, on='cluster', how='left')
        cg = cg.select([
            pl.col('common').alias('cluster'),
            pl.col('gender')
        ])
    return cg

Read each data source's gender info and map to common cluster IDs:

In [7]:
gender_cc = {
    v: read_gender(f'{v}/cluster-genders.parquet', f'cluster-map-{v}.parquet')
    for v in versions if v != 'current'
}
gender_cc['current'] = read_gender('../book-links/cluster-genders.parquet')

Set up a sequence of frames for merging:

In [8]:
to_merge = [
    gender_cc[v].select([
        pl.col('cluster'),
        pl.col('gender').alias(v)
    ]).unique(False)
    for v in versions
]

/tmp/ipykernel_177756/102152750.py:5: DeprecationWarning: All arguments of LazyFrame.unique except for 'subset' will be keyword-only in the next breaking release. Use keyword arguments to silence this warning.
  ]).unique(False)

Merge and collect results:

In [9]:
cluster_genders = reduce(lambda df1, df2: df1.join(df2, on='cluster', how='outer'), to_merge)
cluster_genders = cluster_genders.collect()

For unclear reasons, a few versions have a null cluster. Drop that.

In [10]:
cluster_genders = cluster_genders.filter(cluster_genders['cluster'].is_not_null())

Now we will convert to Pandas and fix missing values:

In [11]:
cluster_genders = cluster_genders.to_pandas().set_index('cluster')

Now we'll unify the categories and their orders:

In [12]:
cluster_genders = cluster_genders.apply(lambda vdf: vdf.cat.set_categories(genders, ordered=True))
cluster_genders.fillna('absent', inplace=True)
cluster_genders.head()

,pgsql,2022-03-2.0,2022-07,2022-10,2022-11-2.1,current
cluster,,,,,,
100295920,absent,absent,absent,absent,absent,no-book-author
104940568,absent,absent,absent,absent,absent,no-book-author
111941464,no-book-author,no-book-author,no-book-author,no-book-author,no-book-author,no-book-author
111382792,absent,absent,male,male,male,male
111322664,male,male,male,male,male,male

Let's save this file for further analysis:

In [13]:
cluster_genders.to_parquet('cluster-version-genders.parquet', compression='zstd')

## PostgreSQL to Current

Now we are ready to actually compare cluster genders across categories. Let's start by comparing original data (PostgreSQL) to current:

In [14]:
ct = cluster_genders[['pgsql', 'current']].value_counts().unstack()
ct = ct.reindex(labels=genders, columns=genders)
ct

current,ambiguous,female,male,unknown,no-author-rec,no-book-author,no-book,absent
pgsql,,,,,,,,
ambiguous,102786.0,4575.0,10492.0,1788.0,980.0,11.0,4.0,3572.0
female,13035.0,1136097.0,828.0,10107.0,9856.0,6.0,30.0,24152.0
male,23550.0,2868.0,3515645.0,16026.0,31682.0,307.0,138.0,55000.0
unknown,1994.0,80654.0,168137.0,1617551.0,19640.0,391.0,12.0,11996.0
no-author-rec,9693.0,55447.0,319211.0,226357.0,1413416.0,319.0,121.0,11130.0
no-book-author,6285.0,93743.0,181627.0,111842.0,177687.0,2533809.0,950180.0,258900.0
no-book,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
absent,60682.0,542445.0,1162935.0,426157.0,1694301.0,14981046.0,790979.0,1752.0

In [15]:
ctf = ct.divide(ct.sum(axis='columns'), axis='rows')
def style_row(row):
    styles = []
    for col, val in zip(row.index, row.values):
        if col == row.name:
            styles.append('font-weight: bold')
        elif val > 0.1:
            styles.append('color: red')
        else:
            styles.append(None)
    return styles
ctf.style.apply(style_row, 'columns')

Most of the change is coming from clusters absent in the original but present in the new.

There are also quite a few that had no book author in PGSQL, but no book in the current data - not sure what's up with that.  Let's look at more crosstabs.

In [16]:
def gender_crosstab(old, new, fractional=True):
    ct = cluster_genders[[old, new]].value_counts().unstack()
    ct = ct.reindex(labels=genders, columns=genders)

    if fractional:
        ctf = ct.divide(ct.sum(axis='columns'), axis='rows')
        return ctf
    else:
        return ct

## PostgreSQL to March 2022 (2.0 release)

This marks the change from PostgreSQL to pure-Rust.

In [17]:
ct = gender_crosstab('pgsql', '2022-03-2.0')
ct.style.apply(style_row, 'columns')

This is where we change from no-book-author to no-book for a bunch of books; otherwise things are pretty consistent. This major change is likely a result of changes that count more books and book clusters - we had some inner joins in the PostgreSQL version that were questionable, and in particular we didn't really cluster solo ISBNs but now we do.  But now, if we have a solo ISBN from rating data, it gets a cluster with no book record instead of being excluded from the clustering.

## March to July 2022

We updated a lot of data files and changed the name and ISBN parsing logic.

In [18]:
ct = gender_crosstab('2022-03-2.0', '2022-07')
ct.style.apply(style_row, 'columns')

Mostly fine; some more are resolved, existing resolutions are pretty consistent.

## July 2022 to Oct. 2022

We changed from DataFusion to Polars and made further ISBN and name parsing changes.

In [19]:
ct = gender_crosstab('2022-07', '2022-10')
ct.style.apply(style_row, 'columns')

## Oct. 2022 to Current

We added support for GoodReads CSV data and the Amazon 2018 rating CSV files.

In [20]:
ct = gender_crosstab('2022-10', 'current')
ct.style.apply(style_row, 'columns')